/* change color and font */
#mapsvg-map-1 *, .mapsvg-details-container *{
  color:white; 
  font-family: 'Urbanist', sans-serif;
}

/* labels */
#mapsvg-map-1 .mapsvg-filter-label{
  text-transform:none; 
  color:#01916D;
  font-weight:700;
  margin-bottom:1em;
}

/* directory items */
#mapsvg-map-1 .mapsvg-directory-item{
 text-transform:uppercase; 
  font-weight:700;
}

/* form wrap */
#mapsvg-map-1 .mapsvg-form-builder{
  border-bottom:4px solid #01916D;
  padding:0;
}

/* form group */
#mapsvg-map-1 .form-group{
  margin-bottom:2em;
}
#mapsvg-map-1 .form-group p {
 display:none; 
}

/* sidebar */
#mapsvg-map-1 .mapsvg-wrap > .mapsvg-sidebar{
 flex-basis: min(35%, 400px) !important;
}
#mapsvg-map-1 .mapsvg-wrap > .mapsvg-sidebar > *:first-child{
  margin:auto;
  width:90%;
  padding: 1.5em 0;
}

/* fix mobile filters height constraint */
#mapsvg-map-1 .mapsvg-header .mapsvg-filters-wrap .mapsvg-data-form-view > .form-group, .mapsvg-footer .mapsvg-filters-wrap .mapsvg-data-form-view > .form-group{
  max-height:none;
}

/* checkboxes */
#mapsvg-map-1 .mapsvg-checkbox-group > div {
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:1em;  
}

/* distance fields*/
#mapsvg-map-1 .mapsvg-distance-fields{
 display:flex; 
}
#mapsvg-map-1 .mapsvg-distance-fields > div:first-child{
  flex-basis: 100%;
    padding-right: 1em;
}
#mapsvg-map-1 .mapsvg-distance-fields > div:nth-child(2){
  margin:0
}

/* directory wrap */
#mapsvg-map-1 .mapsvg-controller-view-wrap.nano{
  margin-top:1em; 
}

/* select text color */
#mapsvg-map-1 .select2-selection__rendered{
  color: #404040;
}

/* multi select text color */
#mapsvg-map-1  .select2-container--default .select2-selection--multiple .select2-selection__choice{
 color: #404040;
}
#mapsvg-map-1 .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
 color:#999;
}

/* MODAL WINDOW */
#mapsvg-map-1 .mapsvg-details-container {
      background: transparent !important;
}
#mapsvg-map-1 .mapsvg-controller-view-content{
 padding:0; 
}

/* center and size */
#mapsvg-map-1 .mapsvg-details-container .mapsvg-controller-view{
  height: 400px;
  width: 640px;    
  margin: auto;
}
#mapsvg-map-1 .mapsvg-details-container .mapsvg-controller-view > div{
 width:100%; 
}
#mapsvg-map-1 .mapsvg-details-container .mapsvg-auto-height, #mapsvg-map-1 .mapsvg-details-container .mapsvg-controller-view-content{
  height:100%;
}

/* two columns */
#mapsvg-map-1 .mapsvg-details-container .mapsvg-controller-view-content{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:1em;
}
#mapsvg-map-1 .mapsvg-details-container .mapsvg-controller-view-content >div{
  background:black;
  padding: 1em;
}
#mapsvg-map-1 .mapsvg-details-container .mapsvg-controller-view-content >div > *:first-child{
 margin-top:0; 
}

/* line up close button */
#mapsvg-map-1 .mapsvg-details-container .mapsvg-controller-view-wrap.nano{
 top:0 !important; 
}


/* MODAL CLOSE */
#mapsvg-map-1 .mapsvg-popover-close::before, #mapsvg-map-1 .mapsvg-popover-close::after{
  background:white;
  height: 8px;
}

/* remove top margin from nano controller to show close button */
#mapsvg-map-1 .mapsvg-details-container .mapsvg-controller-view-wrap.nano{
  margin-top:0;
}

/* style scroll bar */
/* fix spacing in details container */
#mapsvg-map-1 .mapsvg-details-container .nano > .nano-pane {
  margin:21px 4px 4px 0;
}
#mapsvg-map-1 .nano > .nano-pane > .nano-slider {
 background: #01916D; 
  border-radius:0;
}


/* always show scroll bar and add border */
#mapsvg-map-1 .nano > .nano-pane, .nano-pane.active, #mapsvg-map-1 .nano-pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99 ;
  border-radius: 0;
  padding: 1px;
  outline: #fff solid 1px !important;
  margin:1px;
}

/* mobile buttons */
#mapsvg-map-1  .mapsvg-mobile-buttons > div{
  background: #868585;
  border:none;
  text-transform:uppercase;
  font-weight:700;
}
#mapsvg-map-1  .mapsvg-mobile-buttons > div.active{
  background: black;
}
#mapsvg-map-1  .mapsvg-mobile-buttons i{
 display:none;
}



/* modal window breakpoint */
@media (max-width:75em){
  
  /* change modal windows to 1 column */
  #mapsvg-map-1 .mapsvg-details-container .mapsvg-controller-view-content{
    grid-template-columns: 1fr;
    gap:0;
  }
  
  /* constrain to 80% of space */
  #mapsvg-map-1 .mapsvg-details-container .mapsvg-controller-view{
    width:auto;
    height:auto;
  }
  
  /* change flex behavior for sidebar and top bar on mobile */
  #mapsvg-map-1 .mapsvg-header .mapsvg-filters-wrap .mapsvg-data-form-view, #mapsvg-map-1 .mapsvg-footer .mapsvg-filters-wrap .mapsvg-data-form-view{
    flex-direction:column;
    
    /* fix margins */
    margin:auto;
    width:90%;
    padding: 1.5em 0;
  }
  

}

/* mobile breakpoint */
@media (max-width: 812px){
  
  #mapsvg-map-1 .mapsvg-popover-close{
    transform: scale(0.25);
  }
  /* remove border below filters */
  #mapsvg-map-1 .mapsvg-form-builder{
    border:none;
  }  
  
  /* DETAILS CONTAINER */
  .mapsvg-details-container .mapsvg-controller-view-content >div{
    padding:2em 0;  
  }
  .mapsvg-details-container .mapsvg-controller-view-content >div:first-child{
    border-bottom:4px solid #01916D;
  }
  .mapsvg-details-container .mapsvg-controller-view-content >div > *:last-child{
    margin-bottom:0;
  }
  
  
}

/* DETAILS CONTAINER */
/* split portrait and headers */
.mapsvg-details-container .split{
  display:grid;
  grid-template-columns:1fr auto;
  align-items:flex-end;
}

/* style headers */
.mapsvg-details-container h5{
 line-height:1; 
}
.mapsvg-details-container h3, .mapsvg-details-container h5 {
  text-transform:uppercase;  
  margin:0;
  margin-bottom:.25em;
}
.mapsvg-details-container p{
  margin-top:0
}

/* spacing below first element */
.mapsvg-details-container .mapsvg-controller-view-content > div > *:first-child {
  margin-bottom:1em;
}