.posts-container{
	margin-bottom:4em;
	.article-link{
		color:white;
		text-decoration: none;
		&:first-child{			
			margin-left: -6%;
    		margin-right: -6%;
    		display: block;

		}
	}

	article{
		position: relative;	
		overflow: hidden;
		margin:0 0 2em;
	}

	.overlay, .overlay-split{
		position: absolute;
    	left: 0;
    	top: 0;
    	padding: 1em;
    	background:rgba(0,0,0,.5);
    	width: 100%;
    	height:100%;
    	&:hover{
			background:rgba(0,0,0,.4);
		}
	}
	.overlay{		
    	display: flex;
    	flex-direction: column;
    	justify-content: space-between;
	}
	.overlay-split{
		display: flex;
    	flex-direction: row;
    	justify-content: space-between;
    	gap:1em;
    	>*{
    		display:flex;
    		flex-direction: column;
    		justify-content: end;
    		gap:1.5em;
    		margin-bottom:1em;
    	}
	}			
	.post-thumbnail img{
		display: block;
	}
	.article-content > *{
		margin:0
	}
	.category .cat-links, .cta span{
		font-size:1.125rem;
		padding-bottom:4px;
		border-bottom:2px solid $color__accent;
		text-decoration:none;
		color: inherit;	
		font-weight:700;
	}

	.cta span{
		float:right;
	}
}

.category-links{
	border-bottom:5px solid $color__accent;
	padding:.75em 0;
	margin-bottom:2em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	.tax-button{
		background: $color__darkgrey;
		color:white;
		text-decoration:none;
		border-radius:5px;
		font-weight:bold;
		padding:.25em 1.75em;
		display:inline-block;		
		margin:.25em 0;
		&.active{
			background: $color__accent;
		}
	}

}

.lazy-pagination{
	text-align:center;
	margin-bottom:8em;
	.button{
		display:none;
	}
	.button.lock, .loader{
		display:none !important;
		margin:auto;
	}
	.button.lock + .loader{
		display:block !important;
	}

}

.post.type-post{
	h1{
		margin:.75em 0 0;
	}
	h2{
		margin-bottom:.25em;
	}
	.sub-heading{
		margin-top:0;
		text-transform: uppercase;
	}
	.entry-meta .posted-on{
		border-bottom:2px solid $color__accent;
		padding-bottom:.25em;
	}
	.entry-content {		
		margin:0;
	}
	.wp-block-image{
		text-align: right;
		margin-bottom:2em;
		figcaption{			
			margin:0;
		}		
	}
}

.toolbar{
	background: $color__accent;
	padding:5px 0;
	margin-bottom:3em;
	.container{
		display: flex;
    	justify-content: space-between;
    	align-items: center;
	}
	.share{
		
	}
	.back{

	}
	a{
		color:white;
		font-size:1.875rem;
	}
}




/* desktop styles */
@media(min-width:$breakpoint_mobile){

	.posts-container{
		display:grid;
		grid-template-columns:1fr 1fr;
		gap:2em;

		article{
			margin-bottom:0;
			display:inline;
		}

		.article-link:first-child{
			grid-column: span 2;
    		margin:0;
		}
	}

}