/* section spacing */
section{
	overflow:hidden;

	&.standard-spacing-margin{
		margin-bottom:5rem;

	}
	&.standard-spacing-padding{
		padding-bottom:5rem;
	}

	&.widget{
		overflow: visible;
	}

}

/* equal height rows */
.home-tiles{
	display: grid;
	grid-auto-rows: 1fr;
	text-align: center;
}

.home-tile{
	/* add space between elements */
	display: grid;
	justify-content: space-between;
	gap: 1em;
	grid-template-rows: auto 1fr 15em;

	/* remove default container margin */
	.container{
		margin: 0 auto;
	}

	/* restore auto margin on last item */
	.container:last-child{
		margin: auto;
	}
}

/* style video section */
.video{
	position: relative;
	color: white;
}

/* center and crop video */
.video-container{
	max-height: 88vh;
	overflow: hidden;
	display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* position overlay on bottom */
.hero-overlay{
	position: absolute;
	bottom: 0px;
	width: 100%;
	margin-bottom: 2em;

	/* center and space items */
	.container{
		display: flex;
		justify-content: space-between;
		gap: 1em;

		/* add green line to left of text */
		> *:first-child{
			padding-left: 1em;
		    border-left: 3px solid #01916d;
		}
	}


	/* center items vertically */
	.container > *{
		display:flex;
		flex-direction: column;
    	justify-content: center;
    	> *{
    		margin:0;
    	}
	}
}

/* discover block */
.discover-block .container-inner{
	background-size:cover;
	color:white;
	overflow:hidden;
	padding:1rem;
	margin:auto;
}

/* style header block */
.header-block{
	max-width:55ch;
	margin:auto;
	text-align:center;
	
	h1{
		margin-bottom: .25em;
	}
	
	p{
		margin-top: 0;
	}
}


/* timeline carousel */
.timeline-carousel {
	overflow: hidden;

	.owl-theme .owl-dots {
		display:flex;
		align-items:center;
		justify-content: center;
		gap:1em;
		position: relative;
		transition: left .25s;

		&:after {
		  position: absolute;
		  left: -150%;
		  top: 13px;
		  height: 1px;
		  background: #000;
		  content: "";
		  width: 400%;
		  display: block;
		  z-index:-1;
		}
		.owl-dot{
			display:flex;
			align-items:center;
			flex-direction: column;
			flex-basis:100%;
			span{
				width:16px;
				height:16px;
				background:white;
				border:1px solid #000;
				transition: transform .25s;
			}
			&.active span{
				transform: scale(1.5);
				background: $color__accent;
			}			
			&:hover span{				
				background: $color__accent;
			}

		}
	}
}


.split.mobile-reverse{
	flex-direction:column-reverse;
}

/* desktop styles */
@media(min-width:$breakpoint_mobile){

	/* switch tiles to equal width columns */
	.home-tiles{
		grid-template-columns: 1fr 1fr;
	}

	/* align text on tiles */
	.home-tile {
		&:nth-child(odd) :first-child{
			text-align: left;
		}

		&:nth-child(even) :first-child{
			text-align: right;
		}
	}

	/* reverse rows on each odd teaser */
	.teasers .split{
		flex-direction:row;
		&:nth-child(odd){
			flex-direction: row-reverse;
		}
	}

	.teasers .split > *{
		
	

		/* spacing on text container*/
		&:first-child {
			display:flex;
			align-items:center;
			justify-content: center;

			> div{
				max-width:40ch; 
				margin:auto;
				width:90%;
			}		
		}
	}
}