/* section spacing */
section{
	overflow:hidden;

	&.standard-spacing-margin{
		margin-bottom:5rem;
	}
	&.standard-spacing-padding{
		padding-bottom:5rem;
	}
	&.reduced-spacing-margin{
		margin-bottom:3rem;
	}
	&.reduced-spacing-padding{
		padding-bottom:3rem;
	}
	&.widget{
		overflow: visible;
	}

}

/* equal height rows */
.home-tiles{
	display: grid;
	grid-auto-rows: 1fr;
	text-align: center;
}

.home-tile{
	/* add space between elements */
	display: grid;	
	gap: 1em;
	grid-template-rows: auto 1fr 15em;

	/* remove default container margin */
	.container{
		margin: 0 auto;
	}

	/* restore auto margin on last item */
	.container:last-child{
		margin: auto;
	}
}

/* style hero section */
.hero{
	position: relative;
	color: white;
}

/* center and crop hero */
.hero-container{
	height: 300px;
	overflow: hidden;
	display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* position overlay on bottom */
.hero-overlay{
	position: absolute;
	bottom: 0px;
	width: 100%;
	margin-bottom: 2em;

	/* center and space items */
	.container{
		display: flex;
		justify-content: space-between;
		gap: 1em;

		/* add green line to left of text */
		.left-half{
			max-width:55ch;
			padding-left: 1em;
		    border-left: 3px solid #01916d;
		}
		.right-half p{
			text-align:right;
			margin:0;
		}
	}


	/* center items vertically */
	.container > *{
		display:flex;
		flex-direction: column;
    	justify-content: center;
    	> *{
    		margin:0;
    	}
	}
}

/* discover block */
.discover-block .container{
	background-size:cover;
	color:white;
	overflow:hidden;
	padding:1rem;
	margin:auto;
}

/* style header block */
.header-block{
	max-width:55ch;
	margin:auto;
	text-align:center;
	margin-bottom:3rem;
	
	> * {
		margin:0;
	}

	h1, h2, h3{
		margin-bottom: .25em;
	}

}


/* timeline carousel */
.timeline-carousel {
	overflow: hidden;

	/* full height items */
	.owl-stage {
	    display: flex;
	    .owl-item {
			display: flex;
			flex: 1 0 auto;			
			.owl-content{
				display: flex;
				width:100%;
				.split{
					width:100%;				
				}
			}
	    }
	}

	.owl-carousel .owl-item .split{
		
		/* add spacing */
		gap:2em;
		> *{
			/* center vertically */
			display:flex;			
			justify-content: center;
			flex-direction: column;

			/* keep content from exceeding width and height restraints */
			> div {
				max-width:504px;
				max-height:294px;
				width:99%;
			}

			/* constrain image size */
			img{
				width:auto;
				height:auto;
				max-width:504px;
				max-height:294px;
				margin:auto;
			}
		}

		/* center image horizontally */
		> *:last-child{
			align-items:center;
		}

	}


	.owl-theme .owl-dots {


		display:flex;
		align-items:center;
		justify-content: center;
		gap:1em;
		position: relative;
		transition: left .25s;

		/* line behind dots */
		&:after {
		  position: absolute;
		  left: -150%;
		  top: 13px;
		  height: 1px;
		  background: #000;
		  content: "";
		  width: 400%;
		  display: block;
		  z-index:-1;
		}
		.owl-dot{
			display:flex;
			align-items:center;
			flex-direction: column;
			flex-basis:100%;
			font-weight:700;
			span{
				width:16px;
				height:16px;
				background:white;
				border:1px solid #000;
				transition: transform .25s;
			}
			&.active span{
				transform: scale(1.5);
				background: $color__accent;
			}			
			&:hover span{				
				background: $color__accent;
			}

		}
	}
}

/* reverse column order */
.split.column-reverse{
	flex-direction:column-reverse;
}

.embedded-video {
	position: relative;
	padding-bottom: 56.25%; 
	width:100%;

	iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/* mini hero */
.mini-hero{
	.hero-container{
		/* set a minimum height */
		max-height:180px;		
	}
	.hero-overlay{
		/* override margin-bottom and top position */
		margin-bottom:0;
		top:0;

		/* make height 100% */		
		height:100%;

		/* make height 100% */
		.container{
			/* make height 100% */
			height:100%;

			.header-block {
				/* override margins */
				margin:auto;
			}
		}
	}

	

}


/* icon descriptions */
.icon-descriptions{	
	.split{
		/* 2 columns */
		display:grid;
		grid-template-columns:1fr 1fr;		
		gap:2em 1em;

		/* wrapping div */
		> *{
			text-align:center;

			/* inner div */
			> div{		
				max-width: 28ch;
			    margin: auto;			    

			    /* increase font size of icon */
			    svg,i{
					font-size:2.5rem;
					color: $color__accent;
				}

				/* remove margins */
				> *{
					margin:0;
				}
				h3{
					margin:.5em 0;
				}
				p{
					margin:.75em 0;
				}
				.cta{
					text-transform: uppercase;
				}
				.tab-button{
					font-weight: bold;
					text-transform: uppercase;
					text-decoration: none;
					color:black !important;
				    display: flex;
    				align-items: center;
    				justify-content: center;
    				gap:.75em;
    				svg,i{
    					font-size:1.5rem;
    				}
				}
				.triangle{
					border-top: 0;
					border-left: 15px solid transparent;
					border-right: 15px solid transparent;
					border-bottom: 25px solid $color__accent;
					width:0;
					height:0;
					margin:auto;
					margin-top:3em;

				}
			}
			

		}
	}
}

/* icon tabs */
.icon-tabs{
	position: relative;
	background: $color__accent;
	color: white;
	.tab{
		
		.tab-list {		
			display: grid;
			grid-template-columns:1fr;
			margin-bottom: 4em;
			gap:2em;
			h1,h2,h3,h4,h5,p {
				margin:0;
				margin-bottom:.25rem;
			}		
			> *{
				margin: 0 auto;
		    	width: 100%;
		    	max-width: 240px;
			}					
		}		
		a{
			color:white !important;
			text-decoration:none;
			font-weight:bold;
			svg,i{
				margin-right:.5rem;
			}
		}	
		.tab-title{
			text-align:center;
			margin:2em 0;
		}		
	}
	.close{
		position:absolute;
		top:.75rem;
		right:1rem;
		color:white;
		font-size:1.25rem;
		cursor:pointer;
		display:none;
	}
}


/* team members */
.team-members{
	display:grid;
	grid-template-columns:1fr;
	gap:4em 8vw;
	max-width:60em;
	margin:auto;
	> .content-wrap{		
		position:relative;		
		padding-top:5rem;
		> img{
			position:absolute;
			left:50%;
			top:0;
			z-index:1;
		    transform: translateX(-50%);
		}		
		.content{			
			background:$color__lightgrey;
			padding-top:6rem;
			position:relative;		
			overflow:hidden;
			display: flex;
			flex-direction: column;			
			height:100%;
			.container{
				padding:1rem 2rem;
				margin-top:0;
			}
			p{
				font-size:.875rem;
				line-height:1;
			}
			h2,h3,h4{
				margin:0;
			}				
			
			.card{			
				background: $color__offblack;
				overflow:hidden;
				p{
					margin:1rem 0;
				}
				a:not(.button){
					color:white !important;
					text-decoration:none;
				}
				i, svg{
					margin-right:.5rem;
				}
			}			
			.map-button{
				position:absolute;
				right:.75rem;
				top:1rem;
				svg{
					font-size:1.25rem;
				}
			}
		}
		.map-modal{
			width:100%;
			height:100%;
			background:$color__offblack;
			position:absolute;
			top:0;
			left:0;
			z-index:2;
			color:white;
			padding:2rem;
			.close{
				position:absolute;
				top:.75rem;
				right:1rem;
				color:white;
				font-size:1.25rem;
				cursor:pointer;
			}
			>.container>*{
				margin:0;
				margin-bottom:1rem;
				line-height:1;
			}
		}
	}
}


/* mapsvg container */
.mapsvg-container{
	background: $color__lightgrey;
	padding-top:2rem;
}


/* Products */
.product-category-filter {

	
	.buttons{
		margin-bottom:2em;
	}
	
	.button{
		/*flex:0 0 auto;*/
		height:3em;
		/*width:15em;*/
		display: flex;
		justify-content: center;
		align-items:center;
		padding:2em;
		line-height:1;
	}

	.button:hover{
		background: $color__accent;
		border: 1px solid $color__accent;
		color:white !important;
	}

	.button:not(.active){
		background:$color__darkgrey;
		border-color:$color__darkgrey;
	}

	.buttons.underlined-category-filter {
		display:flex;
		justify-content: center;
		gap:1em;		

		.button{			
			background:white;	
			border:none;
			border-bottom: 3px solid $color__accent;
			color:black !important;
			padding:0 3em;	
			flex:1;		
		}

		.button:not(.active){
			//color:$color__darkgrey !important;
			border-bottom-color:$color__darkgrey;

		}

	}

	.products-container-inner{
		display:grid;
		grid-template-columns: 1fr 1fr;
		gap:1.5em;

		.product{
			background:$color__lightgrey;
			padding:1em 1em;
			overflow: hidden;
			display:flex;
			flex-direction: column;
			cursor:pointer;

			img{
				display: block;
				margin:auto;
				margin-bottom:2em;
			}

			.info {				
				line-height:1;				
				text-align:center;
				&:first-child{
					margin-bottom:1.5em;
				}
				&:last-child{
					margin-top:auto;
				}
				* {
					margin:0;					
				}
				.cta{
					font-weight:bold;
					font-size:1.125rem;
					display:inline-block;
				}
			}
		}
	}

	.owl-carousel .owl-item{
		display:none;
	}
	.loader-container{
		padding:1.25em 0;
		text-align:center;
		display:flex;
		align-items: center;
		justify-content: center;
	}

	.owl-custom-container{
		position:relative;		
		.owl-custom-nav{
			position: absolute;
			top:50%;
			transform: translateY(-50%);
			width:100%;
			.fa-chevron-right{
				position: relative;
			}
			.left, .right{				
				position: relative;
				color: $color__accent;
				font-size:1.25em;
				padding:0 .5em;
				cursor: pointer;
			}
			.left{				
				float:left;
				left:-32px;
			}
			.right{				
				float:right;
				left:32px;
			}
			.disabled{
				display:none;
			}

		}
	}

}

#page.products{
	position:relative;
}

/* Modals */
.modal{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.5);
	display:flex;
	align-items: center;
	justify-content: center;	
	z-index:101;
	overflow: auto;

	.modal-content{
		background:white;
		color:black;
		position: relative;
		padding:1em;
		.close{
			position: absolute;
			top:0;
			right:0;
			padding:.15em .5em;
			cursor:pointer;
			font-size:1.5rem;
		}
	}

	&.agent-contact-modal .modal-content{
		max-width: 33em;	
		padding:0;	
		.close{
			color:white;
		}
		.wpforms-container{
			margin:0;
		}
		.wpforms-head-container{
			background: $color__accent;
		    color: white;
		    padding: 1em 2em;
		    text-align: center;
	    	line-height: 1.2;
	    	.wpforms-title{
	    		font-weight:700;
	    		margin-bottom:.25em;
	    	}
		}
		.wpforms-field-container{
			padding: 1em 2em 0;
			input, select, textarea{
				max-width:none;
				border-radius:5px;				
				font-size:.75rem;
				font-weight:700;
				color:black;
				&::placeholder, .placeholder, option{
					font-weight:700;
					color:black;
				}
			}
			
		}
		.wpforms-submit-container{
			padding: 0 2em 2em;
			.wpforms-submit{
				background: $color__accent;
				color:white;
				text-transform:uppercase;
				padding:.5em 3em;
				font-weight: 700;
				&:hover{
					background:white;
					color:black;
				}
			}
		}
		.wpforms-confirmation-container-full{
			background: $color__accent;
			color:white;
			padding:2em;
			border:none;
			margin:0;
			h3{
				margin:0;
			}
		}
	}

	&.newsletter-modal .modal-content{
		background:white;
		color:black;
		max-width: 30em;
		margin: auto;
		padding:2em 3em;
		.terms label{	
			font-size:.75rem !important;
		}
		.button{
			background: $color__accent;
		}
		.wpforms-title{
			font-weight:bold;
			text-transform:uppercase;
			font-size:1.25rem;
		}
		.wpforms-submit-container{
			text-align: right;
		}
		.wpforms-field-email input{
			width:100%;
			max-width:100%;
		}
	}

	&.product-modal {
		position:absolute;
		display: block;
		.modal-content{
			position: absolute;
			background: rgb(1,145,109);
			background: radial-gradient(circle, rgba(1,145,109,1) 0%, rgba(0,0,0,1) 82%);
			color:white;
			line-height:1;
			margin:0;
			transition: width 1s, max-height 2s;
			overflow: hidden;

			>*{
				margin:0;
				margin-bottom:1rem;
				&:last-child{
					margin-bottom:0;
				}
			}
			img{			
				padding:1em;
				margin: 0 auto 2rem;
	    		display: block;
			}
			
			.bullets{
				display:grid;
				grid-template-columns:1fr 1fr 1fr;
				> .bullet{
					border-right:2px solid $color__accent;
					text-align:left;
					padding:0 1em;
					line-height:1.4;
					&:first-child{
						padding-left:0;
					}
					&:last-child{
						border-right:none;
						padding-right:0;
					}
				}
			}
			.buttons{
				display:flex;
				justify-content: space-between;
				.cta{
					font-size:.75rem;
				}
			}

		}
	}
}

/* Featured */
.featured{
	border-bottom: 3.5rem solid black;
	.split{
		gap:3em;
		align-items:center;
		
		.content{
			> p:first-child{
				margin:1.25rem 0;
			}
			h2{				
				line-height:1;
				margin:1.25rem 0;
			}
			p{
				line-height:1;	
			}
		}
		img{
			display:block;			
			margin:auto
		}
	}

}

.faq{
	.faq-navigation{
		/* force columns on mobile */
		.split{
			flex-direction: row;
			gap:2em;
			> *{
				flex-basis:100%;
			}
		}
	}
	.nav-item:not(.active){
		border-bottom-color: $color__darkgrey;
		h3{
			color:$color__darkgrey;
		}
	}
	.nav-item {
		text-align: center;
		h3{
			text-transform: uppercase;
			margin:0;
			padding:.5em 0;
		}
		a{
			text-decoration:none;
			color:black;
		}
		span{
			text-transform: uppercase;
		}
	}

	.faq-section{
		background:$color__lightgrey;
		padding:1em;
		margin:2rem 0;

		&.active{
			.section-title{
				margin-block-end: 1.33em;
				&::after{
					content:"-";
					display:block;
				}
			}
		}

		&:not(.active){
			.section-title{
				margin-block-end: 0;
				border-bottom:none;
				&::after{
					content:"+";
					display:block;
				}
			}	
		}

		.section-title{
			margin-top:0;
			text-transform: uppercase;
			display: flex;
			flex-direction:row;
			justify-content: space-between;
			cursor:pointer;			
		}
		.qa{
			overflow:hidden;
			border-bottom:1px solid $color__darkgrey;
			&:last-child{
				border-bottom:none;
			}
		}
		.q{
			font-weight:bold;
			line-height:1;
			cursor:pointer;

			&::before{
				content:"Q";
				color:$color__accent;
				font-wieght:bold;
				font-size:2em;
				margin-right:1rem;

			}

			svg, i{
				color: $color__accent;
				margin-left:1rem;
			}
		}

		.a{
			margin-left:2rem;
			display: flex;
			line-height:1.2;
			&::before{
				content:"A";
				color:$color__darkgrey;
				font-weight:bold;
				font-size:2em;
				margin-right:1rem;
			}
		}

	}
	.load-more-button{
		text-align:center;
	}
}


.faq-search{
	text-align: center;
	#search{
		width:25em;
		padding: .25rem 2rem .25rem 1rem;
		&::placeholder {
			color:black;
			font-weight:bold;
		}
	}
	.input-container{
		display: inline-block;
		position: relative;

		.clear-button{
			color:$color__lightgrey;
			position: absolute;
			right: .75em;
			top: 50%;
    		transform: translateY(-50%);
    		cursor: pointer;
		}
	}
}

/* Blog Styles */
.posts-container{
	margin-bottom:4em;
	.article-link{
		color:white;
		text-decoration: none;
	}
	article{
		position: relative;	
		overflow: hidden;
		margin:0;
	}
	.overlay{
		position: absolute;
    	left: 0;
    	top: 0;
    	padding: 1em;
    	background:rgba(0,0,0,.5);
    	width: 100%;
    	height:100%;
    	display: flex;
    	flex-direction: column;
    	justify-content: space-between;
	}
	.overlay:hover{
		background:rgba(0,0,0,.4);
	}
	.post-thumbnail img{
		display: block;
	}
	.article-content > *{
		margin:0
	}
	.category .cat-links, .cta span{
		font-size:1.125rem;
		padding-bottom:4px;
		border-bottom:2px solid $color__accent;
		text-decoration:none;
		color: inherit;	
		font-weight:700;
	}

	.cta span{
		float:right;
	}
}

.category-links{
	border-bottom:5px solid $color__accent;
	padding:1em 0;
	margin-bottom:2em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	.tax-button{
		background: $color__darkgrey;
		color:white;
		text-decoration:none;
		border-radius:5px;
		font-weight:bold;
		padding:.25em 1.75em;
		display:inline-block;		
		&.active{
			background: $color__accent;
		}
	}

}

.lazy-pagination{
	text-align:center;
	margin-bottom:8em;
	.button{
		display:none;
	}
	.button.lock, .loader{
		display:none !important;
		margin:auto;
	}
	.button.lock + .loader{
		display:block !important;
	}

}

.post.type-post{
	h1{
		margin:.75em 0 0;
	}
	h2{
		margin-bottom:.25em;
	}
	.sub-heading{
		margin-top:0;
		text-transform: uppercase;
	}
	.entry-meta .posted-on{
		border-bottom:2px solid $color__accent;
		padding-bottom:.25em;
	}
	.entry-content {		
		margin:0;
	}
	.wp-block-image{
		figcaption{
			text-align: right;
			margin:0;
		}
	}
}


.director-single-block, .director-multiple-block  {
	.director-block{
		text-align:center;
		margin-bottom:1em;
	}

	.director-title{
		margin:1em 0 0
	}

	.director-name{
		margin-top:0;
	}

	.blurb{
		line-height:1.25;
	}

	.social {		
		font-size:1.75rem;
		a{
			text-decoration:none;
			color:black;
		}
		i{		
			margin-bottom:6px;
		}
		> *{
			margin-right:0.75em;
		}
		> :last-child{
			margin-right:0;
		}
	}
}

.director-single-block  {
	.director-block{
		background: $color__lightgrey;
		padding:0 1em 1em;	
		text-align:center;
		margin-top:50px;
	}	

	.content{
		position:relative;
		top:-50px;
		margin-bottom:-30px;
	}

}


.director-multiple-block{
	margin-bottom:1em;
	.director-block{
		position:relative;
		padding-bottom:2em;
		margin-bottom:2.5em;

	}

	.director-block:after {
		content: "";
	    border-bottom: $color__accent 2px solid;
	    position: absolute;
	    bottom: 0;
	    left: 50%;
	    height: 1px;
	    width: 60%;
	    display: block;
	    transform: translateX(-50%);
	}

	.director-block:last-child:after{
		display:none;
	}

	.director-name{
		margin:0;
	}
	.blurb{
		margin-top:0;
	}

}

.quote-block{
	text-align:center;	
	margin-bottom:1em;
	line-height:1.25;
	.fa-quote-left{
		font-size:1.875rem;
		color: $color__accent;
		margin-bottom:.5em;
	}
	.quote{
		font-size:1.875rem;
		font-weight:bold;
		margin:0;		
	}
	.author{
		font-size:1.25rem;
		text-transform:uppercase;
	}
}

.carousel-block {
	text-align:right;
	p{
		margin: 0;
	}
	.owl-theme .owl-dots .owl-dot{	
		span{
			background:white;
			border:1px solid #000;
		}	
		&.active span{
			background: $color__accent;
			border:1px solid #000;
		}
	
	}
}



/* desktop styles */
@media(min-width:$breakpoint_mobile){

	.director-multiple-block{
		display:grid;
		grid-template-columns:1fr 1fr 1fr;
		
		.director-block{
			position:relative;
			padding-bottom:0;
			margin-bottom:0;
			padding:3em;
		}

		.director-block:after {
			content: "";
		    border-bottom: 0 none;
		    border-right: $color__accent 2px solid;
		    position: absolute;
		    left:unset;
		    right: 0;		    
		    bottom:unset;
		    top: 50%;		    
		    width: 1px;
		    height: 40%;
		    display: block;
		    transform: translate(0,-50%);
		}

	}


	.director-single-block  {
		.director-block{
			margin-top:0;
		}
	}

	/* Blog Styles */
	.posts-container{
		display:grid;
		grid-template-columns:1fr 1fr;
		gap:2em;

	}

	/* icon tabs */
	.icon-tabs{
		max-width:90%;
		margin:auto;
		.tab{			
			.tab-list {		
				display: grid;
				grid-template-columns:1fr 1fr 1fr;				
				h1,h2,h3,h4,h5,p {
					
				}		
				> *{
					margin: 0;
			    	width: 100%;
			    	max-width: none;
				}					
			}
			
			a{				
				svg,i{
			
				}
			}	
			.tab-title{
			
			}
		}
		.close{
			display:block;
		}
	}

	.modal {
		.modal-content{
			padding:2em;
		}

		&.agent-contact-modal .modal-content{
			padding:0;
		}

		&.product-modal .modal-content{			
			.bullets{
				display:flex;
				> .bullet{					
					padding:0 2em;
				}
			}
			.desktop-columns{
				display:flex;
				flex-direction:row;
				gap:3em;
			}
			.buttons{
				flex-direction:column;
				justify-content: center;			
				gap:1em;
				.button{
					display:block;
					width:13em;
				}
			}
		}
	}

	.hero-container{
		height:88vh;
	}

	/* Products */
	.product-category-filter {	
		.header.split{
			>:first-child{
				flex-basis:65%;
				display: flex;
				align-items:center;
				>:first-child{
					max-width: 23em;
					margin: auto;
					padding: 0 2em;
				}
			}
			img{
				margin:auto;
				display:block;
			}
		}
		.products-container-inner{
			.product{
				padding:1.5em 2em;
				img{
					padding:0 3em;
				}
				.info{
					text-align:left;
					margin-bottom:0;
					* {					
						float:left;
					}
					.cta{
						float:right;

					}
				}
			}
		}
		.buttons.underlined-category-filter {
			.button{
				flex:0 1 25%;
			}
		}
	}

	/* mapsvg container */
	.mapsvg-container{
		padding:3rem 0 5rem 0;

		.map-wrapper{
			max-width:80em;
			margin:auto;
			max-width:90%;
		}
	}

	/* team members */
	.team-members{
		display:grid;
		grid-template-columns:1fr 1fr;	

	}

	/* icon descriptions */
	.icon-descriptions{	
		.split{
			/* 4 columns */
			display:grid;
			grid-template-columns:1fr 1fr 1fr 1fr;		
			&.two-column-grid{
				grid-template-columns:1fr 1fr;
			}
		}

	}


	/* mini hero */
	.mini-hero{
		.hero-container{
			/* set a minimum height */
			max-height:357px;
		}
	}

	/* switch tiles to equal width columns */
	.home-tiles{
		grid-template-columns: 1fr 1fr;
	}

	/* align text on tiles */
	.home-tile {
		cursor:pointer;
		&:hover{
			filter: brightness(1.25);
		}
		&:nth-child(odd) :first-child{
			text-align: left;
		}

		&:nth-child(even) :first-child{
			text-align: right;
		}
	}

	/* reverse rows on each odd teaser */
	.teasers .split{
		flex-direction:row;
		&:nth-child(odd){
			flex-direction: row-reverse;
			> div:last-child{
				display:flex;				
			}
		}
		&:nth-child(even){
			
			> div:last-child{
				display:flex;				
			}
		}
		img{
			width:100%;
		}
	
		> *{		

			/* spacing on text container*/
			&:first-child {
				display:flex;
				align-items:center;
				justify-content: center;

				> div{
					max-width:40ch; 
					margin:auto;
					width:90%;
				}		
			}
		}
	}
}