.site-footer {

 	a{
		color:white;
	}


	.footer-widgets{
		display:flex;
		justify-content: center;
		padding:2rem 0;
		flex-wrap: wrap;
		flex-direction: column;
		text-align:center;
	}	

	.site-info{
		display: flex;
		justify-content: space-between;
		flex-direction:column;
		padding:3rem 0;
		font-size:0.875rem;
		font-weight:900;
		text-align: center;
		> *{
			display: flex;
			align-items: center;
			justify-content:center;
			padding:1rem 0;
			white-space: nowrap;
		}
		.logo{
			margin-right: 1.5em;
		}
 
	}
	#footer-menu{
		margin: 0;
		padding-inline-start: 0;
		list-style: none;
		display:flex;		
		text-transform:uppercase;	
		align-items:center;
		flex-wrap:wrap;
		justify-content: center;
		li {
			margin:6px 0;
			&:after{
				content: '';
				display: inline-block;
				position: absolute;
				height: 1.5rem;
				width: 3px;
				background: $color__accent;

			}
			&:last-child::after {
			  	display: none
			}
			a{
				padding: 0 1.5em;
				line-height: 1.5rem;
				text-decoration:none;
				white-space: nowrap;
				
			}
			&:first-child a{
					padding-left:0;
				}
			&:last-child a{
				padding-right:0;
			}
		}
	}


	//desktop queries
	@media(min-width:$breakpoint_mobile){
		.footer-widgets{
			text-align:left;
			flex-direction:row;
			> *{
				margin-right:5em;
			}
			> :last-child{
				margin-right:0;
			}
		}
		.site-info{
			flex-direction:row;
			text-align: left;
		}
	}
}

.discover-block{
	background-size:cover;
	color:white;
	overflow:hidden;
	padding:1rem;
	margin:auto;
}